<h1 class="main_heading">Advanced Search Options </h1>

<section class="search_container">
  <div class="advanced_search_area">
      <h2 class="advanced_search_heading">Search for a book</h2>  
      <form action="/books/advancedSearch" method="get" class="advanced_search_form">
        <input type="text" name="title" id="search" value="<%= searchOptions.title || '' %>" placeholder="Title">
        <p class="advanced_search_text">and/or</p>
        <input type="text" name="author" id="search" value="<%= searchOptions.author || '' %>" placeholder="Author">
        <p class="advanced_search_text">and/or</p>
        <input type="text" name="category" id="search" value="<%= searchOptions.category || '' %>" placeholder="Category">
        <button type="search" value="go" id="go">Search</button>
        <a href="javascript:void(0);" id="back_button" class="back_button"><< Back</a>
      </form>
  </div>
</section>

<% if (books.length > 0) { %> 
<%- include('../partials/bookCard') %>
<% } else if (Object.keys(searchOptions).length > 0) { %> 
  <p>No books found for the given search criteria.</p>
<% } %>