<h1>All Books</h1>

<a href="/books/new">Add a new Book</a>

<h2>Search for a book</h2>  
<div class="search_area">
    <form action="/books" method="get" class="search_form">
      <input type="text" name="title" id="search" value="<%= searchOptions.title %>" placeholder="Search for a book" required>
      <button type="search" value="go" id="go">Search</button>
    </form>
</div>

<br>

<% books.forEach(book => { %>
  <div><%= book.title %></div>
<% }) %>