<header>
    <div class="container">
        <div id="logo">
            <img src="/Images/logo.png" class="logo_image" alt="Logo"/>
        </div>
            <nav id="primary">
              <ul>
                <li><a class="">Home</a></li>
                <li><a href="../books/main" class="">Books</a></li>
                <li><a href="../books/categories" class="">Categories</a></li>
                <li><a href="../reviews/main" class="">Reviews</a></li>
              </ul>  
            </nav> 
            <div class="social">
              <a href="https://www.facebook.com" target="_blank"><span class="facebook"><img src="/Images/facebook.png" alt="facebook-link"/></span></a>
              <a href="https://www.instagram.com" target="_blank"><span class="instagram"><img src="/Images/instagram.png" alt="instagram-link"/></span></a>
            </div>
            <div class="auth">
              <button class=""><a href="../user/login" class="">Login</a></button>
              <button class=""><a href="../user/signup" class="">Sign Up</a></button>
            </div>
    </div>
</header> 