<section class="cta">
    <div class="cta_div">
        <h2>Have your say!</h2>
    </div>
</section>

<section class="search_container">
  <div class="search_area">
    <h2 class="main_search_heading">Search for a book</h2>  
    <form  action="/" method="get"  class="search_form">
      <div class="input_button_wrapper">
        <input type="text" name="title" id="search" value="<%= searchOptions.title %>" placeholder="Search for a book by title" required>
        <button type="search" value="go" id="go">Search</button>
      </div>
      <div class="search_extras">
        <a href="/books/advancedSearch" class="advanced_options">Advanced Search Options</a>
      </div>
    </form>
  </div>
</section>  

<h1 class="main_heading">Book Reviews</h1>

<%- include('partials/bookCard') %>