
<section class="login_main_body">
    <div class="login_card">
        <h3 class="auth_heading">Login</h3>
        <form action="">
            <label class="username_label" for="username">Username</label>
            <input type="text" id="username" name="username" required><br>
            <label class="password_label" for="password">Password</label>
            <input type="text" id="password" name="password"><br>
            <a href="/register"class="no_account">Don't have an account?</a>
            <a href="/forgot_password" class="forgot">Forgot Password?</a>
            <input type="submit" value="Submit" id="submit" required><br>
            <a href="/" id="home_link">Home</a>
        </form>
    </div>
</section>