<div class="forgot_card">
    <h3 class="auth_heading">Forgot Password?</h3>
    <form action="">
        <label class="email_label" for="email">Email Address</label>
        <input type="text" id="email" name="email" required><br>
        <input type="submit" value="Reset Password" id="reset" required><br>
        <a href="/" id="home_link">Home</a>
    </form>
</div>