<% if (message === 'add_review') { %>
    <div class="alert">Please log in to add a review</div>
<% } %>
<section class="login_main_body">
    <div class="login_card">
        <h3 class="auth_heading">Login</h3>
        <form action="/user/login" method="POST">
            <label class="username_label" for="username">Username</label>
            <input type="text" id="username" name="username" required><br>

            <label class="password_label" for="password">Password</label>
            <input type="password" id="password" name="password" required><br>
            <div>
                <a href="/user/signup"class="no_account">Don't have an account?</a>
                <a href="/user/forgot_password" class="forgot">Forgot Password?</a>
            </div>
            <input type="submit" value="Login" id="submit"><br>

            <a href="/" id="home_link">Home</a>
        </form>
    </div>
</section>