<div class="login_card">
    <h3 class="auth_heading">Register</h3>
    <form action="/user/signup" method="POST">
        <label class="username_label" for="username">Username</label>
        <input type="text" id="username" name="username" required><br>

        <label class="email_label" for="email">Email Address</label>
        <input type="email" id="email" name="email" required><br>

        <label class="password_label" for="password">Password</label>
        <input type="password" id="password" name="password" required><br>

        <label class="password_label" for="confirm_password">Confirm Password</label>
        <input type="password" id="confirm_password" name="confirm_password" required><br>

        <a href="/user/login"class="no_account">Already have an account?</a>
        <a href="/user/forgot_password" class="forgot">Forgot Password?</a>

        <input type="submit" value="Sign Up" id="submit"><br>

        <a href="/" id="home_link">Home</a>
    </form>
</div>