* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5; 
    list-style: none; 
    text-decoration: none;
    font-family: "Quicksand", sans-serif;
}

body, html {
    height: 100%;
}

.main_heading {
    text-align: center;
    max-width: auto;
    padding-top: .5em;
    font-size: 5em;
    color: var(--almost-black);
}

:root {
    --deep-pink: #E531BD;
    --blue: rgb(44, 166, 247);
    --light-pink: rgb(246, 51, 148);
    --almost-black: rgb(3, 2, 21);
    --light-blue: rgb(23, 209, 236); 
    --deep-orange: rgb(255, 190, 22);
}


/* navbar */
header {
    position: sticky;
    top: 0;
    z-index: 10;
}

.container {
    display: grid;
    grid-template-columns: 0.05fr 0.25fr 1fr 0.5fr 0.25fr 0.05fr;
    grid-template-rows: auto;
    grid-template-areas: ". logo list auth social .";
    background-color: var(--light-blue);
    position: sticky;
    height: auto;
}

#logo{
    grid-area: logo;
}

.logo_image {
    display: block;
    width: 8em;
    max-height: 100%;
}

#primary{
    grid-area: list;
    display: grid;
}

nav#primary ul {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

nav#primary li {
    display: block;
    margin-left: 3em;
}

nav#primary li a {
    text-decoration: none;
    font-size: 2em;
    transition: color .2s;
    color: var(--deep-orange);
}

nav#primary li a:hover {
    color: var(--deep-pink);
}

.social {
    grid-area: social;
    display: inline-flex;
    align-items: center;
    justify-self: center;
}

.facebook img, .instagram img{
    height: 3em;
    width: 3em;
}

.facebook img {
    margin-right: 1em;
}

.auth{
    grid-area: auth;
    display: inline-flex;
    align-items: center;
    justify-self: center;
}

.auth a{
    text-decoration: none;
}

.auth button{
    box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.75);
    border-radius: 15px;
    padding: 0.5rem 1rem;
    margin: 1em;
    width: 10em;
}

/* footer */
footer {
    background-color: var(--almost-black);
    opacity: 0.5;
    width: 100%;
    position: fixed;
    bottom: 0;
}

footer p{
    padding: .5em;
    color: white;
    text-align: right;

}