*, *::after, *::before {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    line-height: 1.5; 
    list-style: none; 
    text-decoration: none;
    font-family: "Quicksand", sans-serif;
}

body, html {
    height: 100%;
    margin: 0;
}

.main_heading {
    text-align: center;
    max-width: auto;
    padding-top: .5em;
    font-size: 5em;
    color: var(--black);
}

:root {
    --blue: rgb(44, 166, 247);
    --pink: rgb(253, 5, 129);
    --black: rgb(3, 2, 21);
    --orange: rgb(255, 190, 22);
}

/* Sets the container for the whole webpage so it is all aligned */
.body_container {
    max-width: 1500px;
    margin: auto;
    margin-bottom: 3rem;
}

/* navbar */
header {
    position: sticky;
    top: 0;
    z-index: 1;
} 

nav {
    background-color: var(--blue);

}

nav ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 4em;
    margin-left: 1em;
}

nav a {
    height: 100%;
    padding: 0 1em;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--black);
}

.hideOnMobile:hover {
    background-color: var(--orange);
}

nav li:first-child {
    margin-right: auto;
}

nav li img {
    height: 4em;
}

nav li svg {
    height: 80%;
    fill: var(--pink);
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 10em;
    z-index: 99;
    background-color: var(--blue);
    backdrop-filter: blur(10px) ;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

.menu_button {
    display: none;
}

.auth {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: var(--pink);
    width: 80%;
    padding: 1em;
    text-align: center;
    border-radius: 0.75em;
    color: var(--orange);
    cursor: pointer;
    box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.75);
    height: 2.5em;
    font-size: 1em;
    font-weight: 900;
    margin: 1em;
    margin-right: 2em;
}

.auth:hover, .auth:focus {
    background-color: var(--blue);
}

/** Error Message **/
.error_message {
    margin: 3em;
    font-size: 3em;
}

.alert {
    font-size: 3em;
    margin: 1em;
    font-style: italic;
    font-weight: 900;
    letter-spacing: .25em;
}

/** footer **/
footer {
    background-color: var(--black);
    opacity: 0.5;
    width: 100%;
    position: fixed;
    bottom: 0;
}

footer p{
    padding: .5em;
    color: white;
    text-align: right;
}

/** HOME PAGE **/
.cta {
    background: url('/Images/cta.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 35em;
    width: auto;
}

.cta h2 {
    display: flex;
    position: absolute;
    width: 100%;
    top: 30%;
    text-align: center;
    left: 30%;
    color: var(--pink);
    font-size: 5em;
}

 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
    /** NAV BAR  **/
    .hideOnMobile { display: none; }
    .menu_button { display: block; }
    /** HOME PAGE **/
    .cta { height: 20em; }
    .cta h2 { width: 50%; font-size: 3.5em; font-weight: 900; top: 25%; left: 25%; }
    .main_heading { padding-top: .25em; font-size: 3em; }
    /** Error Message **/
    .error_message { margin: 1em; font-size: 2em; text-align: center; }
    .alert { font-size: 1.5em; margin: .5em; font-weight: 700; text-align: center; }
    /** footer **/
    footer { display: none; }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 767px)  and (min-width: 600px) {
      /** NAV BAR  **/
    .hideOnMobile { display: none; }
    .menu_button { display: block; }
     /** HOME PAGE **/
     .cta { height: 20em; }
     .cta h2 { width: 50%; font-size: 3.5em; font-weight: 900; top: 25%; left: 25%; }
    /** Error Message **/
    .error_message { margin: 1em; text-align: center; }
    .alert { font-size: 1.5em; margin: .5em; font-weight: 900; text-align: center; }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 1013px) and (min-width: 768px) {
     /** HOME PAGE **/
     .cta { height: 20em; }
     .cta h2 { width: 50%; font-size: 4em; font-weight: 900; top: 25%; left: 25%; }
}

/* Large devices (laptops/desktops, 1014px and up) */
@media only screen and (min-width: 1014px) {
    /** HOME PAGE **/
    .cta { height: 30em; }
    .cta h2 { width: 50%; font-weight: 900; top: 30%; left: 25%; }
}
