<p>Username</p>
<div class="new_review_info">
    <input type="text" name="title" value="<%= book.title %>" placeholder="Title" required>
    <input type="text" name="author" value="<%= book.author %>" placeholder="Author" required>
    <textarea name="description" placeholder="Breif description of the book" required><%= book.description %></textarea>
</div>
<div class="new_book_cover">
    <input type="file" name="cover" class="filepond" required>
</div>

<label for="rating">Rating</label>

<label for="reviewText">Review Text</label>
<input type="text" name="reviewText" value="<%= review.reviewText  %>">


