<label for="reviewText">Review Text</label>
<!-- reviews links to the variable given in the routes folder and reviewText links to the input [name] field -->
<input type="text" name="reviewText" value="<%= review.reviewText  %>">