<h1 class="main_heading">Book Review</h1>

<form action="/reviews" method="post">
    <%- include('_form_fields') %>
    <a href="/reviews">Cancel</a>
    <button type="submit">Create</button>
</form>