<h1 class="main_heading">Add a Review</h1>

<section class="new_review_container">
    <div class="new_review_area">
        <form action="/reviews" method="POST" class="new_review_form">
            <label for="bookTitle">Book Title</label>
            <select name="bookTitle" id="bookTitle" required>
                <% books.forEach(function(book) { %>
                    <option value="<%= book._id %>"><%= book.title %></option>
                <% }) %>
            </select>
            <div id="author_and_cover"></div>

            <label for="rating">Rating</label>
            <input type="number" name="rating" min="1" max="5" required>

            <label for="reviewText">Review</label>
            <textarea name="reviewText" maxlength="500"></textarea>

            <div class="form_actions">
                <button type="submit" id="create">Submit Review</button>
                <a href="/reviews">Cancel</a>
            </div>
        </form>
    </div>
</section>